body {
  background-color: lightcoral;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
 
}

* {
  box-sizing:border-box;
  max-width: 100%;
}


h1 {
  color: green;
  text-align: center;
  font-size: 30px;
  font-family: fantasy
};

p {
  color: hotpink
}

button {
  background-color: rgb(136, 45, 45);
  border: solid;
  color: limegreen;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 150px;
  height: 60px;
  font-size: 24px;
}

button:hover {
  color: rgb(136, 45, 45);
  background-color: limegreen;
}

nav {
  font-family: fantasy
}

 textarea {
    -webkit-appearance: textarea;
    background-color: lightblue;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-width: 8px;
    border-style: solid;
    border-color:  rgb(136, 45, 45);
    border-image: initial;
    padding: 2px;
    margin: 20px;
    
}

input {
  background-color: rgb(136, 45, 45);
  border: solid;
  color: limegreen;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  width: 150px;
  height: 60px;
  font-size: 24px;
  box-align: center;
}

